@model IEnumerable<Model.ViewModel.HoaDonViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <div class="page-heading page-heading-md">
        <h2 class="header__main">
            <span class="breadcrumb">
                <i class="fa fa-credit-card"></i>
            </span>
            <span class="title">Danh sách đơn hàng</span>
        </h2>


    </div>
}
<div class="col-md-12">
    <div class="panel panel-default">   
        <div class="panel-heading">
            <h4 class="panel-title">Tất Cả Đơn Hàng</h4>
        </div>         
            
                                 
                <div class="filter-container">
                    <div class="btn-group btn-group-filter">
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle btn-filter">
                                Điều kiện lọc
                                <span class="caret"></span>
                            </a>
                       </div>
                            <div class="search-container">
                                <input type="text" class="form-control form-large search-input" placeholder="Nhập từ khóa tìm kiếm ..." bind="query" bind-event-change="submitQuery()" value="">
                            </div>
                        </div>
    
                    </div>


                </div>
 
        
       

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="select select-all not-select">
                                <span><input type="checkbox" class="js-no-dirty all-bulk-action" bind-event-change="addOrRemoveAllBulkActionItems(this)"></span>

                            </th>
                            <th>Đơn Hàng</th>
                            <th>Ngày Tạo</th>
                            <th>Khách Hàng</th>
                            <th>Trạng Thái Thanh Toán</th>
                            <th>Trạng Thái Giao Hàng</th>
                            <th>Tổng Tiền</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="select">
                                    <input type="checkbox" bind-event-change="addOrRemoveBulkActionItem(102526,this)" class="bulk-action-item">
                                </td>
                                <td><a href="#">@item.MaDonHang</a></td>

                                <td>@item.NgayTao</td>
                                <td>@item.Ten</td>
                                <td>@item.TrangThaiGiaoHang</td>
                                <td>@item.TrangThaiThanhToan</td>
                                <td>@item.TongTien</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>

