@model Model.ModelView.ProductModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
}
@section Header{
<table class="table" style="margin-left:20px">
    <thead>
        <tr>

            <th>

                <a class="btn btn-default" href="javascript:void(0)" bind-event-click="showExportOrders()">Lưu và thêm mới</a>
                <a class="btn btn-primary" href="/Admin/AllCategories/create">Lưu</a>

            </th>

        </tr>
    </thead>
</table>
    }
@section jsFooter{
    <script>
        var editor = CKEDITOR.replace('txtDescription', {
            customConfig :'/Assets/Admin/plugins/ckeditor/config.js',
        });
    </script>
<script>
    var editor = CKEDITOR.replace('txtContent1',  {
            customConfig :'/Assets/Admin/plugins/ckeditor/config.js',
        });
</script>
};
@using (Html.BeginForm())
{
       @Html.AntiForgeryToken()
    <div class="container-fluid-md">
        <div class="row">

            <div class="col-md-4 col-lg-3">
                <h4>Thông tin sản phẩm</h4>
                <p class="text-muted">Cung cấp thông tin về tên, mô tả loại sản phẩm và nhà sản xuất để phân loại sản phẩm này.</p>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Thêm mới sản Phẩm</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <span class="help">Tên Sản Phẩm </span>

                                <div class="controls">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <span class="help">Mã Sản Phẩm</span>

                                <div class="controls">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="help">Nội Dung</span>

                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Content1, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent1" })
                                    @Html.ValidationMessageFor(model => model.Content1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <span class="help">Mô Tả Ngắn </span>

                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, id = "txtDescription" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style= "z-index:4;">
                                    <label class="control-label strong">
                                        Loại
                                        <span class="note">
                                            ví dụ: Có ga, Không có ga ...
                                        </span>
                                    </label>
                                    <div class="form-group">
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.ListCategories, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                               </div>
                                <div class="col-sm-6" style="z-index:4;">
                                    <label class="control-label strong">
                                        "Nhà cung cấp"
                                        <span class="note">
                                            ví dụ: CoCa, Sprite ...
                                        </span>
                                    </label>
                                    <div class="form-group">                                       
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.ManufacturerId, new SelectList(Model.ListManufacturers, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ManufacturerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="col-md-offset-10 col-md-2">
                                    <input type="submit" value="Lưu" class="btn btn-primary" />
                                </div>
                            </div>                                                      
                    </form>
                </div>
            </div>
        </div>
   </div>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <h4><b>Thêm ảnh cho sản phẩm</b></h4>
                       
                <p class="text-muted"> Đăng ảnh cho sản phẩm </p>
                <input type="hidden" id="ImageIds" value=""/>
                <input type="file" id="FileUpload" multiple value="Chọn ảnh" /><br />
                <input type="button" id="btnUpload" value="Đăng ảnh" multiple />
                <script>
                        $(document).ready(function () {
                            $('#btnUpload').click(function () {                            
                                if (window.FormData !== undefined) {
                                    var fileUpload = $("#FileUpload").get(0);
                                    var files = fileUpload.files;                            
                                    var fileData = new FormData();                              
                                    for (var i = 0; i < files.length; i++) {
                                        fileData.append(files[i].name, files[i]);
                                    }                                  
                                    fileData.append('username', 'Manas');
                                    $.ajax({
                                        url: '/Product/UploadFiles',
                                        type: "POST",
                                        contentType: false,
                                        processData: false, 
                                        data: fileData,
                                        success: function (result) {
                                            var list = result;
                                            console.log(list);
                                            var count = 1;
                                            $.each(list, function (index, item) {                                           
                                                $('#priview').append('<img'+' id="imgpreview'+count+'"'+' height="200" width="250" src="/Upload/ProductImg/' + item + '" />');
                                                count++;
                                            });
                                        },
                                        error: function (err) {
                                            alert(err.statusText);
                                        }
                                    });
                                } else {
                                    alert("FormData is not supported.");
                                }
                            });
                        });
                </script>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="panel panel-default">                   
                    <div class="panel-body" id="priview">
                                                             
                    </div>
                </div>
            </div>
        </div>
        
   </div>
}
@section scripts {
    <script src="/Scripts1/jquery-ui-1.11.4.min.js"></script>
    <script src="/Scripts1/jquery.multiuploader.crop.js"></script>
    <script>
		$(document).ready(function() {
			$('#myUploader').imageUploaderCut({
				proceedCallBack: uploadCallBack
				});
function uploadCallBack(jsonString) {
	$.ajax({
			url: '/Product/UploadToServer',
			type: 'POST',
			dataType: 'json',
			data: jsonString,
			contentType: 'application/json; charset=utf-8',
			success: function(data, event) {
				//do redirect
			},
			error: function (data, event) {
				//do redirect
			}
		});
	}
		});
    </script>
}






