@model Model.EF.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
}
@section jsFooter{
    <script>
        var editor = CKEDITOR.replace('txtDescription', {
            customConfig :'/Assets/Admin/plugins/ckeditor/config.js',
        });
    </script>
    <script>
    var editor = CKEDITOR.replace('txtContent1',  {
            customConfig :'/Assets/Admin/plugins/ckeditor/config.js',
        });
    </script>
};
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <h4>Thông tin sản phẩm</h4>
                <p class="text-muted">Cung cấp thông tin về tên, mô tả loại sản phẩm và nhà sản xuất để phân loại sản phẩm này.</p>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Sửa Sản Phẩm</h4>                       
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">

                                <span class="help">Tên Sản Phẩm </span>

                                <div class="controls">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <span class="help">Mã Sản Phẩm</span>

                                <div class="controls">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="help">Nội Dung</span>

                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Content1, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent1" })
                                    @Html.ValidationMessageFor(model => model.Content1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <span class="help">Mô Tả Ngắn </span>

                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, id = "txtDescription" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="z-index:4;">
                                    <label class="control-label strong">
                                        Loại
                                        <span class="note">
                                            ví dụ: Có ga, Không có ga ...
                                        </span>
                                    </label>
                                    <div class="form-group">
                                        <div class="controls">
                                            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="z-index:4;">
                                    <label class="control-label strong">
                                        "Nhà cung cấp"
                                        <span class="note">
                                            ví dụ: CoCa, Sprite ...
                                        </span>
                                    </label>
                                    <div class="form-group">
                                        <div class="controls">
                                            @Html.DropDownList("ManufacturerId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ManufacturerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-10 col-md-10">
                                    <input type="submit" value="Lưu" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <h4>Ảnh</h4>
                <p class="text-muted">Cung cấp thông tin về tên, mô tả loại sản phẩm và nhà sản xuất để phân loại sản phẩm này.</p>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Thêm ảnh sản Phẩm</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 text-right"> 
                                <span><i>Chọn ảnh đại diện </i></span> <br />
                                <input type="file" id="UploadImg" /> <br /><br />
                                Tên mới: <input type="text" id="txtImg" size="50" style="width:140px" /> <br />
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="">
                                <img id="imgPreview" class="img-circle" src=@Html.DisplayFor(model => model.Image) height="200" width="200">
                                <script>
                            $("#UploadImg").change(function () {
                                var data = new FormData();
                                var files = $("#UploadImg").get(0).files;
                                if (files.length > 0) {
                                    data.append("MyImages", files[0]);
                                }

                                $.ajax({
                                    url: "/Product/UploadFile",
                                    type: "POST",
                                    processData: false,
                                    contentType: false,
                                    data: data,
                                    success: function (response) {
                                        //code after success
                                        $("#txtImg").val(response);
                                        $("#imgPreview").attr('src', '/Upload/' + response);
                                    },
                                    error: function (er) {
                                        alert(er);
                                    }

                                });
                            });
                                </script>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
}