@model PagedList.IPagedList<Model.ModelView.ModelProduct>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <table class="table" style="margin-left:20px">
    <thead>
        <tr>
            <th>  <h2 class="header__main"><span class="breadcrumb"><i class="fa fa-credit-card"></i> </span><span class="title">Danh mục sản phẩm</span></h2></th>
            <th>               
                <a class="btn btn-primary" href="#">Thêm mới</a>

            </th>

        </tr>
    </thead>
</table>
}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Tất Cả Sản Phẩm </h4>
        </div>
        <form class="form-inline" role="form">
            <button type="submit" class="btn btn-primary"> Tìm Kiếm</button>
            <input type="text" class="form-control" value="@ViewBag.SearchString1" name="SearchString" placeholder="Nhập từ khóa tìm kiếm...">
        </form>
    </div>
</div>
<div class="panel-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="select select-all not-select">
                    <span><input type="checkbox" class="js-no-dirty all-bulk-action" bind-event-change="addOrRemoveAllBulkActionItems(this)"></span>
                </th>
                <th style="width:50px;"></th>
                <th width="30%"> Sản Phẩm </th>               
                <th>Loại</th>
                <th>Nhà Cung Cấp</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="select">
                        <input type="checkbox" bind-event-change="addOrRemoveBulkActionItem(102526,this)" class="bulk-action-item">
                    </td>
                    <td><img class="img-circle" src=@Html.DisplayFor(modelItem => item.Image) height="50" width="50"></td>
                    <td><a href="#"> @item.Name</a> </td>
                    <td>@item.ProductSpecies</td>
                    <td>@item.NameNCC</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }


        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @SearchString = @ViewBag.SearchString1 }))
</div>

