@model IEnumerable<Model.ModelView.OrderDetailModel>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header {
    <table class="table" style="margin-left:20px">
        <thead>
            <tr>
                <th>
                    <h2 class="header__main">
                        <span class="breadcrumb"><i class="fa fa-credit-card"></i> </span><span class="title">
                            Khách Hàng/@foreach (var item in Model)
                            { @Html.DisplayFor(modelItem => item.Name)
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                                break;
                            }

                        </span>
                    </h2>
                </th>


            </tr>
        </thead>

    </table>
}
<div class="col-md-8 col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Chi Tiết Đơn Hàng</h4>
         
     
        </div>
        <div class="panel-body">
            <table class="table table-condensed text-right">
                <thead>
                    <tr>
                        <th>Tên Sản Phẩm</th>
                        <th>Đơn Giá</th>
                        <th width="1"></th>
                        <th>So luong</th>
                        <th>Thanh Tien</th>
                     
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.ProductName</td>
                            <td>@item.ProductPrice đ</td>                           
                            <td width="1">x</td>
                            <td>@item.Number</td>
                            <td>@item.PriceItem đ</td>   
                                                   
                        </tr>
                    }
                </tbody>
                
            </table>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <table class="table table-condensed text-right">                        
                        <tbody>                        
                                <tr>
                                    <td><h4><b>Gia</b></h4></td>
                                    <td>
                                        @foreach (var item in Model)
                                    { @item.Total
                                        break;
                                    }
                                </td>
                                </tr>
                                <tr>
                                    <td><h4><b>Tổng Cộng</b></h4></td>
                                    <td>
                                        @foreach (var item in Model)
                                    { @item.Total
                                        break;
                                    }
                                </td>
                                </tr>
                            
                        </tbody>

                    </table>
                </div>
                </div>
        </div>
    </div>
</div>
